html {
    height: 100%;
    width: 100%;
  }
  
  body {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid #000000;
    font-size: 25px;
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #f7f7f7;
  }
  
  th {
    border-collapse: collapse;
    border: 2px solid #000000;
    padding: 8 px;
    font-weight: lighter;
    width: 20%;
  
  }
  
  h1 {
    text-align: center;
  }
  
  .idade {
    padding: 10px;
    text-align: center;
    margin-left: 38%;
  
  }
  button {
    padding: 15px;
    text-align: center;
    margin-top: 1%;
  
  }
  img {
    max-width: 500px;
    max-height: 250px;
    margin-top: 10px;
    border-radius: 8%;
  }